{
    "presets": ["env", "react", "flow"],
    "plugins": [
        [
            "css-modules-transform",
            {
            "generateScopedName": "[name]__[local]___[hash:base64:5]",
            "preprocessCss": "./babelrc.js",
            "extensions": [".css", ".scss"],
            "extractCss": "./dist/css/styles.css"
            }
        ],
        [
            "module-resolver",
            {
            "root": ["./src"]
            }
        ]
    ]
}
