@import "~shared/styles/variables";

.button {
  border: 2px solid $brand-primary;
  background: white;
  margin: 20px;
  padding: 13px 25px;
  color: $brand-primary;
  cursor: pointer;

  &:hover,
  &:focus {
    background: $brand-primary;
    color: white;
    transition: all 300ms ease-in-out;
  }
}